<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quoting Dojo</title>
    </head>
    <body>
        <h1>Welcome to Quoting Dojo!</h1>
        <form class="" action="/quotes" method="post">
            Your Name: <input type="text" name="name" value="">
            Your Quote: <input type="text" name="quote" value="">
            <input type="submit" name="" value="Add quote">
        </form>
        <a href="/main">See all quotes</a>
    </body>
</html>
