* {
    /*border: 1px dashed blue;*/
}

.nav {
    border: 3px solid black;
    width: 200px;
    height: 485px;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
